.home-banner {
  height: 65vh;
  width: 100vw;
  display: flex;

  background-image: url('../assets/Client2_GroupYoga.png');
  background-size: cover;
  background-position: center;
}

.home-banner .text-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .4);
  width: 100%;
}

.home-banner .text-container p,
.home-banner .text-container h1 {
  margin: 0;
  color: #fcfcfc !important;
}

.hero-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #17253F;
}

.hero-images p {
  color: #fcfcfc !important;
}

@media all and (max-width: 768px) {
  .home-banner {
    height: 70vh;
    background-size: cover;
  }

  .hero-images {
    padding: 0 0 20px;
  }

  .hero-images img {
    width: 100%;
    height: 100%;
  }

  .hero-images div:last-child {
    display: none;
  }
  
  .shopping-section,
  .products-section,
  .perks-section,
  .collections-section {
    padding: 60px 45px;
  }

  .perks-section .perks-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.perks-section {
  background-color: #17253F;
}

.perks-section h2,
.perks-section h3,
.perks-section p {
  color: #fcfcfc !important;
}

.shopping-section,
.products-section,
.perks-section,
.collections-section {
  padding: 30px 25px;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  border: 1px solid #17253F;
  border-radius: 5px;
  width: 250px;
}

.product-card button {
  align-self: baseline;
  padding: 5px 10px;
  font-family: "Calibri", sans-serif;
  cursor: pointer;
}

.shopping-section .offer {
  display: flex;
}

.shopping-section .offer .title {
  margin-top: 0;
}

.shopping-section .offer i {
  font-size: 25px;
  margin-right: 10px;
}