.home-banner {
  height: 65vh;
  width: 100vw;
  display: flex;

  background-image: url('../assets/Client2_GroupYoga.png');
  background-size: 100%;
}

.home-banner .text-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-banner .text-container p,
.home-banner .text-container h1 {
  margin: 0;
  color: #fcfcfc !important;
}

.hero-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

@media all and (max-width: 768px) {
  .home-banner {
    height: 70vh;
    background-size: cover;
  }

  .hero-images {
    padding: 0 0 20px;
  }

  .hero-images img {
    width: 100%;
    height: 100%;
  }

  .hero-images div:last-child {
    display: none;
  }
  
  .shopping-section,
  .products-section {
    padding: 60px 45px;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.product-card button {
  align-self: baseline;
  padding: 5px 10px;
}